<div id="tify-viewer" class="tify_viewer"></div>
<script>
  var manifest = '{data.bodytext}';
  var title = '{data.header}';
  var languageCode = {data.sys_language_uid};

  var language = function() {
    var lang = 'en';
    if (languageCode !== 0) {
      lang = 'de';
    }

    return lang;
  };

  tifyOptions = {
    container: '#tify-viewer',
    manifest: manifest,
    title: title,
    language: language()
  };

</script>
<style>
    .tify_viewer {
        position: relative;
        height: 100%;
        width: 100%;
    }
</style>
<script src="{f:uri.resource(path: 'JavaScript/tify.js', extensionName: 'tify')}"></script>
