<div id="tify-viewer" class="tify_viewer"></div>
<script src="{f:uri.resource(path: 'JavaScript/tify.js', extensionName: 'tify')}" type="module></script>
<script>
    const manifest = '{data.bodytext}';
    const title = '{data.header}';
    const languageCode = {data.sys_language_uid};

    const language = function () {
        let lang = 'en';
        if (languageCode !== 0) {
            lang = 'de';
        }

        return lang;
    };

    new Tify({
    container: '#tify-viewer',
    manifestUrl: manifest,
    urlQueryKey: 'tify',
    view: 'info',
    language: language()
  })

</script>
<style>
    .tify_viewer {
        position: relative;
        height: 100%;
        width: 100%;
    }
</style>
<link rel="stylesheet" href="{f:uri.resource(path: 'JavaScript/tify.css', extensionName: 'tify')}">
